@mixin phone {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: -12%;
        width: 36px;
        height: 36px;
        background: url(../icons/phone-icon.png) center no-repeat;
    }
    
}

@mixin logo {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: -45px;
        width: 31px;
        height: 44px;
        background: url(../icons/logo.jpg) center no-repeat;
        cursor: pointer;
    }
}
@mixin quotation {
    &:before {
        content: '';
        position: absolute;
        top: -12px;
        left: 35px;
        width: 44px;
        height: 35px;
        background: url(../icons/quot-sign.png) center no-repeat;
    }
    &::after {
        content: '';
        position: absolute;
        transform: rotate(180deg);
        top: 130px;
        right: 35px;
        width: 44px;
        height: 35px;
        background: url(../icons/quot-sign.png) center no-repeat;
    }
}
@mixin check {
    
    &:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 4px;
        left: -35px;
        width: 23px;
        height: 23px;
        background: url(../icons/check-circle.png) center no-repeat;
    }
}
@mixin cross{
    &:before, &:after {
        content: "";
        position: absolute;
        z-index: -1;
        background: #d00;
      }
    &:before {
        left: 50%;
        width: 30%;
        margin-left: -15%;
        height: 100%;
      }
    &:after {
        top: 50%;
        height: 30%;
        margin-top: -15%;
        width: 100%;
    }
}